web/WEB-INF/schema/attribute.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://tiendat.io/schema/attribute"
           xmlns="http://tiendat.io/schema/attribute"
           elementFormDefault="qualified">
    <xs:element name="attribute">       
        <xs:complexType>       
            <xs:sequence>                
                <xs:element name="name" type="xs:string"></xs:element>
                <xs:element name="content" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
